<div *ngIf="response?.result === 'successful'" class="row mt-2">
    <div class="col-md-7 ml-2">
        <h3>Reservierung {{response?.res_pid}} bitte bestätigen!</h3>
        <span>Sehr geehrte/ geehrter {{reservation?.firstName}} {{reservation?.lastName}}</span><br><br>
        <span>Sie haben am <strong>{{addZero(reservation?.date.day)}}-{{addZero(reservation?.date.month)}}-{{reservation?.date.year}}</strong> um <strong>{{reservation?.hour}}</strong> Uhr einen Tisch für <strong>{{reservation?.numberOfPersons}}</strong> Personen in unserem Restaurant reserviert.</span><br>
        <span>Bitte bestätigen Sie Ihre Reservierung innerhalb der nächsten Stunde, um diese erfolgreich abzuschließen.</span><br>
        <span>Sie müssen einfach auf den Link in der Bestätigungsmail ihrer Reservierung klicken.</span><br><br>
        <span>Mit freundlichen Grüßen</span><br>
        <span>Max Mustermann</span>
        <button class="btn btn-primary btn-block mt-2" (click)="onBackClick()">Zurück zur Hauptseite</button>
    </div>
    <div class="col-md-4 ml-2 mr-2">
        <img src="../../assets/images/create-reservation-success.jpg" class="rounded mx-auto d-block col-md-12 mt-2" alt="Success_Image">
    </div>
</div>
<div *ngIf="response?.result === 'error'" class="row mt-2">
        <div class="col-md-5 ml-2">
            <h1>Reservierung ist fehlgeschlagen!</h1>
            <span>Es lag folgender Fehler vor: <strong>{{response?.text}}</strong></span><br>
            <button class="btn btn-primary btn-block mt-2" (click)="onBackClick()">Zurück zur Hauptseite</button>
        </div>
        <div class="col-md-6 ml-2 mr-2">
            <img src="../../assets/images/create-reservation-error.jpg" class="rounded mx-auto d-block col-md-12 mt-2" alt="Success_Image">
        </div>
</div>