<app-header [role]="'Kunde'" [title]="'Reservierung löschen'"></app-header>
<div class="container container m-5 p-5">
  <div class="row">
    <div class="col-md-6">
      <p>Bitte tragen Sie Ihre Reservierungsnummer ein, um eine Reservierung zu stornieren. Nach
        Klick auf „Stornieren“ erscheint eine Kontrollseite, um die Richtigkeit Ihrer Stornierung
        zu prüfen. Erst, wenn Sie dort die Stornierung erneut bestätigen, haben Sie Ihre
        Reservierung erfolgreich storniert. </p>
      <img class="img-fluid center-block" alt="reservation" src="../../assets/reservation-details-cancel" />
    </div>
    <div class="col-md-6 p-5">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input class="col-md-10" type="text" formControlName="reservationNumber" required>
        <button class="btn btn-primary btn-block btn-mg col-md-2 float-right" type="submit"
          [disabled]="!form.valid">
          Ok
        </button>
        <div *ngIf="form.get('reservationNumber').invalid &&
                  (form.get('reservationNumber').dirty || form.get('reservationNumber').touched)"
          class="alert alert-danger">
          <div *ngIf="form.get('reservationNumber').errors.required">
            Bitte Reservierungsnummer eingeben
          </div>
        </div>
        <div *ngIf="this.error" class="alert alert-danger">
          {{error.message}}
        </div>
      </form>
    </div>
  </div>
</div>
