<app-header [role]="'Kunde'" [title]="'Reservierung einsehen'"></app-header>
<div class="container m-5 p-5">
  <div class="row">
    <div class="col-md-6">
      <p>Bitte tragen Sie auf der rechten Seite Ihre Reservierungsnummer ein, die Sie nach Ihrer
        Reservierung vom Personal oder per Mail erhalten haben. Bestätigen Sie mit Klick auf „OK“.
        Im Anschluss werden Ihnen die Daten Ihrer Reservierung angezeigt. </p>
      <img class="img-fluid center-block" alt="placeholder image" src="../../assets/reservation-details-cancel" />
    </div>
    <div class="col-md-6 p-5">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input class="container-fluid" type="text" formControlName="reservationNumber" required>
        <div *ngIf="form.get('reservationNumber').invalid &&
              (form.get('reservationNumber').dirty || form.get('reservationNumber').touched)"
          class="alert alert-danger">
          <div *ngIf="form.get('reservationNumber').errors.required">
            Bitte Reservierungsnummer eingeben
          </div>
        </div>
        <div *ngIf="this.error" class="alert alert-danger">
          {{error.message}}
        </div>
        <button class="btn btn-primary btn-mg col-md-2 mt-3 float-right" type="submit" [disabled]="!form.valid">
          Ok
        </button>
      </form>

      <div class="mt-5 py-5 px-2 float-left" *ngIf="reservation">
        <p>Name: {{reservation.person.name}}</p>
        <p>Personen: {{reservation.number_of_person}}</p>
        <p>Datum: {{reservation.res_day}}</p>
        <p>Zeit: {{reservation.res_time}}</p>
        <p>Minuten: {{reservation.timeduration}}</p>
        <p>Tisch: {{reservation.table.table_id}}</p>
      </div>
    </div>
  </div>
</div>
