<div class="table-responsive">
    <table class="table borderless" id="table">
        <tr id="row-1">
            <td class="column-1"></td>
            <td class="column-2"></td>
            <td class="column-3"></td>
            <td class="column-4"></td>
            <td class="column-5"></td>
        </tr>
        <tr id="row-2">
            <td class="column-1"></td>
            <td class="column-2"></td>
            <td class="column-3"></td>
            <td class="column-4"></td>
            <td class="column-5"></td>
        </tr>
        <tr id="row-3">
            <td class="column-1"></td>
            <td class="column-2"></td>
            <td class="column-3"></td>
            <td class="column-4"></td>
            <td class="column-5"></td>
        </tr>
    </table>
</div>