<div class="modal-header">
  <h4 class="modal-title">Sind Sie sicher, dass Sie folgende Reservierung
    stornieren wollen?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container float-right mt-5 ml-4">
    <p>Reservierungsnummer: {{reservation.res_pid}}</p>
    <p>Name: {{reservation.person.name}}</p>
    <p>Personen: {{reservation.number_of_person}}</p>
    <p>Tisch: {{reservation.table.table_id}}</p>
    <p>Datum: {{reservation.res_day}}</p>
    <p>Zeit: {{reservation.res_time}}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" (click)="onConfirm()">
    Ja, bitte Reservierung stornieren
  </button>
</div>
