<form [formGroup]="formQuery" (ngSubmit)="filterReservations()">
    <input type="text" formControlName="query">
</form>

<form [formGroup]="formDate" (ngSubmit)="onSubmit()">
  <input type="date" formControlName="date" required>
  <div *ngIf="formDate.get('date').invalid && (formDate.get('date').dirty || formDate.get('date').touched)"
    class="alert alert-danger">
    Bitte geben Sie ein gültiges Datum ein!
  </div>
  <input type="time" formControlName="time" required>
  <div *ngIf="formDate.get('time').invalid && (formDate.get('time').dirty || formDate.get('time').touched)"
    class="alert alert-danger">
    Bitte geben Sie eine gültige Zeit ein!
  </div>
</form>

<div class="table-responsive table-bordered table-striped">
  <table class="table">
      <thead>
        <tr>
          <td>Tischnummer</td>
          <td>Personen</td>
          <td>Reserviert von</td>
          <td>Datum</td>
          <td>Uhrzeit</td>
          <td>Reservierungsnr.</td>
          <td>Stornieren</td>
          <td>Bezahlt?</td>
        </tr>
      </thead>
      <tr *ngFor="let reservation of filtRes">
        <td>{{ reservation.table.table_id }}</td>
        <td>{{ reservation.number_of_person }}</td>
        <td>{{ reservation.person.name }}</td>
        <td>{{ reservation.res_day }}</td>
        <td>{{ reservation.res_time }}</td>
        <td>{{ reservation.res_pid }}</td>
        <td>
          <div class="btn btn-default" (click)="onClickDelete(reservation)">Stornieren</div>
        </td>
        <td>TODO</td>
      </tr>
  </table>
</div>
