<!-- Input fields/ buttons... -->
<div class="row m-2">

  <!-- Search field -->
  <div class="col-md-5">
    <form [formGroup]="formQuery" (ngSubmit)="filterReservations()">
      <input class="form-control" type="text" formControlName="query" placeholder="Suche">
    </form>
  </div>

  <!-- Date Time Picker -->
  <div class="col-md-5">
    <form class="form-inline" [formGroup]="formDate" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="date" class="m-1" formControlName="date" required>
        <input type="time" class="m-1" formControlName="time" required>
      </div>
    </form>
  </div>

  <!-- Form Validation destroys formatting, but oh well -->
  <div *ngIf="formDate.get('date').invalid && (formDate.get('date').dirty || formDate.get('date').touched)"
    class="alert alert-danger">
    Bitte geben Sie ein gültiges Datum ein!
  </div>
  <div *ngIf="formDate.get('time').invalid && (formDate.get('time').dirty || formDate.get('time').touched)"
    class="alert alert-danger">
    Bitte geben Sie eine gültige Zeit ein!
  </div>

  <!-- Go to current time button -->
  <div class="col-md-2 float-right">
    <button class="btn btn-info float-right" (click)="jumpCurrent()">
      Kunden aktuell
      <span class="p-1">
        <fa-icon icon="caret-up"></fa-icon>
      </span>
    </button>
  </div>
</div>

<!-- Aktual content (table) -->
<div class="table-responsive table-bordered table-striped">
  <table class="table">
    <thead>
      <tr>
        <td>Reserviert von</td>
        <td>Tisch-Nr.</td>
        <td>Personen</td>
        <td>Reservierungsnr.</td>
        <td>Datum</td>
        <td>Uhrzeit</td>
        <td>Stornieren</td>
        <td>Angekommen?</td>
      </tr>
    </thead>
    <tr *ngFor="let reservation of filtRes">
      <td>{{ reservation.person.name }}</td>
      <td>{{ reservation.table.table_id }}</td>
      <td>{{ reservation.number_of_person }}</td>
      <td>{{ reservation.res_pid }}</td>
      <td>{{ reservation.res_day }}</td>
      <td>{{ reservation.res_time }}</td>
      <td>
        <button class="btn btn-info" (click)="deleteRes(reservation)">Stornieren</button>
      </td>
      <td>TODO</td>
    </tr>
  </table>
</div>

<div class="row m-2">
  <div class="col-md-12">
    <button class="btn btn-info btn-block" (click)="jumpNextHour()">
      Kunden nächste Stunde
      <span class="p-1">
        <fa-icon icon="caret-down"></fa-icon>
      </span>
    </button>
  </div>
</div>
