<form [formGroup]="formQuery" (ngSubmit)="filterReservations()">
  <input type="text" formControlName="query">
</form>

<form [formGroup]="formDate" (ngSubmit)="onSubmit()">
  <input type="date" formControlName="date" required>
  <div *ngIf="formDate.get('date').invalid && (formDate.get('date').dirty || formDate.get('date').touched)"
    class="alert alert-danger">
    Bitte geben Sie ein gültiges Datum ein!
  </div>
  <input type="time" formControlName="time" required>
  <div *ngIf="formDate.get('time').invalid && (formDate.get('time').dirty || formDate.get('time').touched)"
    class="alert alert-danger">
    Bitte geben Sie eine gültige Zeit ein!
  </div>
</form>

<button class="btn btn-info" (click)="jumpCurrent()">Kunden aktuell</button>

<div class="table-responsive table-bordered table-striped">
  <table class="table">
    <thead>
      <tr>
        <td>Reserviert von</td>
        <td>Tisch-Nr.</td>
        <td>Personen</td>
        <td>Reservierungsnr.</td>
        <td>Datum</td>
        <td>Uhrzeit</td>
        <td>Stornieren</td>
        <td>Angekommen?</td>
      </tr>
    </thead>
    <tr *ngFor="let reservation of filtRes">
      <td>{{ reservation.person.name }}</td>
      <td>{{ reservation.table.table_id }}</td>
      <td>{{ reservation.number_of_person }}</td>
      <td>{{ reservation.res_pid }}</td>
      <td>{{ reservation.res_day }}</td>
      <td>{{ reservation.res_time }}</td>
      <td>
        <button class="btn btn-info" (click)="deleteRes(reservation)">Stornieren</button>
      </td>
      <td>TODO</td>
    </tr>
  </table>
</div>

<button class="btn btn-info" (click)="jumpNextHour()">Kunden nächste Stunde</button>
